/*color*/
$body: #6e8282;
$back: white;
$btn_back: #1ec7ae;
$cardback: #e8ebeb;
$navbar: #57c7aa;

/*margins*/
$line-w: 25px;
$line-h: 2px;
$line-p: -6px;
$line-p2: 6px;

/*mixins*/
@mixin transform-rotate ($deg) {
	-moz-transform: rotate($deg+deg);
  -ms-transform: rotate($deg+deg);
  -webkit-transform: rotate($deg+deg);
  -o-transform: rotate($deg+deg);
	transform: rotate($deg+deg);
}

@mixin transform-translateY ($color) {
	-moz-transform: translateY($color);
  -ms-transform: translateY($color);
  -webkit-transform: translateY($color);
  -o-transform: translateY($color);
	transform: translateY($color);
}

@mixin transform-translate ($pos,$pos2) {
	-moz-transform: translate($pos,$pos2);
  -ms-transform: translate($pos,$pos2);
  -webkit-transform: translate($pos,$pos2);
  -o-transform: translate($pos,$pos2);
	transform: translate($pos,$pos2);
}

@mixin transform-scale ($val) {
	-moz-transform: scale($val);
  -ms-transform: scale($val);
  -webkit-transform: scale($val);
  -o-transform: scale($val);
	transform: scale($val);
}

@mixin transition ($val){
	-webkit-transition: ($val);
	-moz-transition: ($val);
  -ms-transition: ($val);
  -o-transition: ($val);
	transition: ($val);
}

#menu{
    position: relative;
    cursor: pointer; 
    margin: 20px;
    width: 50px;
    height: 50px;
    right: 0;
    bottom: 0;
    background: $btn_back;
    @include transition (all 0.2s);
    z-index: 9999;
  }

  #menu.open{
background-color: rgba(0, 0, 0, 0.027);
  }
  #menu > span {
    margin: 26%;
    position: absolute;
    top: 65%;
    display: block;
    width: $line-w;
    height: $line-h;
    margin-top: -0.5em;
      border-radius: 3px;
    background-color: white;
  }
  
  .menu_c > span:before,
  .menu_c > span:after {
    content: "";
    position: absolute;
    width: $line-w;
    height: $line-h;
    background-color: white;
    border-radius: 3px;
    @include transition (all 0.1s);
  }
  .menu_c > span:before {
    @include transform-translateY ($line-p);
  }
  
  .menu_c > span:after {
    @include transform-translateY ($line-p2);
  }

  .menu_c.open  {
   
    @include transform-rotate (45);
}

.menu_c.open > span:before {
  background-color: #1ec7ae;
    @include transform-rotate (5);
}

.menu_c.open > span:after {
  background-color: #1ec7ae;
    @include transform-rotate (90);
}

.menu_c{
border-radius: 5px;
}
.radius{
border-radius: 100%;
}